:root {
  --bgColor: hsl(212, 45%, 89%);
  --txtColorHeading: hsl(218, 44%, 22%);
  --txtColorParagraph: hsl(220, 15%, 55%);
}

* {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--bgColor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code {
  border-radius: 4mm;
}

.card {
  background-color: white;
  width: 375px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-radius: 6mm;
}

h1 {
  color: var(--txtColorHeading);
  font-size: 30px;
  font-weight: 700;
  margin-left: 25px;
  margin-right: 25px;
}

p {
  color: var(--txtColorParagraph);
  font-size: 20px;
  font-weight: 400;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 40px;
}

@media screen and (max-width: 375px) {
  .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 6mm;
  }
  
  h1 {
    color: var(--txtColorHeading);
    font-size: 20px;
    font-weight: 700;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  p {
    color: var(--txtColorParagraph);
    font-size: 15px;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}